html {
  font-size: 62.5%;
  font-family: sans-serif;
}
html.fonts-loaded {
  font-family: 'Oswald', sans-serif;
}

body {
  font-size: 1.6rem;
  color: #333;
  padding: 2rem 0 0;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
a:hover {
  color: #98e698;
}

h1, h2, h3, h4 {
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}
h1.white-header, h2.white-header, h3.white-header, h4.white-header {
  color: white;
}

h1 {
  font-size: 7.2rem;
  margin: 1rem 0;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.4rem;
}

address {
  font-style: normal;
  margin-top: 1rem;
}

.l-content-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}
@media (min-width: 825px) {
  .l-content-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2rem 4rem;
  }
}

.l-content-area--white {
  background: white;
}

.l-content-area--black {
  background: black;
  color: white;
}

.l-content__full {
  display: block;
  margin: 6rem 0 0;
  padding: 2rem 4rem;
  position: relative;
  border-top: 1px solid #c4c4c4;
}

aside {
  -webkit-box-flex: 2;
  -webkit-flex: 2 2 auto;
      -ms-flex: 2 2 auto;
          flex: 2 2 auto;
  position: relative;
  min-width: 30%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
}
@media (min-width: 825px) {
  aside {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

section {
  -webkit-box-flex: 3;
  -webkit-flex: 3 3 auto;
      -ms-flex: 3 3 auto;
          flex: 3 3 auto;
  text-align: center;
  position: relative;
}
@media (min-width: 825px) {
  section {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 825px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 4rem;
  }
}

.header__name {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (min-width: 825px) {
  .header__name {
    -webkit-box-flex: 3;
    -webkit-flex: 3 3 auto;
        -ms-flex: 3 3 auto;
            flex: 3 3 auto;
  }
}

.header__print {
  display: none;
}
@media (min-width: 825px) {
  .header__print {
    left: -61px;
    display: block;
    position: absolute;
    top: 50%;
    background: black;
    color: white;
    padding: 1rem;
    -webkit-transform: rotate(-90deg) translate(30%, 0px);
            transform: rotate(-90deg) translate(30%, 0px);
  }
}

.header__contact {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (min-width: 825px) {
  .header__contact {
    -webkit-box-flex: 2;
    -webkit-flex: 2 2 auto;
        -ms-flex: 2 2 auto;
            flex: 2 2 auto;
    width: auto;
  }
}

.header__contact--items {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 2rem 0.5rem 0;
}
@media (min-width: 825px) {
  .header__contact--items {
    max-width: 180px;
    width: 60%;
    padding: 0.5rem 0.5rem;
  }
}
.header__contact--items span {
  height: 51px;
  margin-bottom: 1rem;
}
.header__contact--items svg {
  width: 45px;
  height: auto;
  border: 3px solid black;
}
.header__contact--items a:hover svg .st0 {
  fill: black;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}
.header__contact--items a:hover svg .st1 {
  fill: #98e698;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.experience-item {
  cursor: pointer;
}

.experience-item__extra-info {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.js-open .experience-item__extra-info {
  opacity: 1;
  height: 200px;
}

.js-arrow-indicator {
  width: 1.5rem;
  margin: 0 0 0.5rem 2rem;
  fill: #333;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.js-open .js-arrow-indicator {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.skills-list {
  margin-bottom: 5rem;
}

.full-tab {
  padding: 1rem;
  border: 1px solid #c4c4c4;
  border-bottom: 0;
  color: black;
  position: absolute;
  top: -3.9rem;
  left: 4rem;
}

.no-spacing {
  padding: 0;
  margin: 0;
}

.top-spacing {
  padding: 0;
  margin: 2rem 0 0;
}

.gray {
  color: #333;
}

.background-gray {
  background-color: #f1f1f1;
}

.left-border {
  padding: 0 2rem;
  position: relative;
  margin-left: 0;
  padding-left: 0;
}
@media (min-width: 825px) {
  .left-border {
    margin-left: 2rem;
    padding-left: 4rem;
  }
}
.left-border:before {
  content: '';
  width: 0;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  height: 80%;
  background: black;
  position: absolute;
}
@media (min-width: 825px) {
  .left-border:before {
    width: 2px;
  }
}
.left-border.black:before {
  background: white;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  h1, h2, h3, h4 {
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
  }
  h1.white-header, h2.white-header, h3.white-header, h4.white-header {
    color: white;
  }

  h1 {
    font-size: 7.2rem;
    margin: 1rem 0;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  address {
    font-style: normal;
    margin-top: 1rem;
  }

  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 4rem;
  }

  .header__name {
    -webkit-box-flex: 3;
    -webkit-flex: 3 3 auto;
        -ms-flex: 3 3 auto;
            flex: 3 3 auto;
  }

  .header__print {
    display: none;
  }

  .header__contact {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 2;
    -webkit-flex: 2 2 auto;
        -ms-flex: 2 2 auto;
            flex: 2 2 auto;
    width: auto;
  }

  .no-spacing {
    padding: 0;
    margin: 0;
  }

  .top-spacing {
    padding: 0;
    margin: 2rem 0 0;
  }

  .gray {
    color: #333;
  }

  .background-gray {
    background-color: #f1f1f1;
  }

  .l-content-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2rem 4rem;
  }

  aside {
    -webkit-box-flex: 2;
    -webkit-flex: 2 2 auto;
        -ms-flex: 2 2 auto;
            flex: 2 2 auto;
    position: relative;
    min-width: 30%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }

  section {
    -webkit-box-flex: 3;
    -webkit-flex: 3 3 auto;
        -ms-flex: 3 3 auto;
            flex: 3 3 auto;
    position: relative;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }

  .l-content-area--white {
    background: white;
  }

  .l-content-area--black {
    background: black;
    color: white;
  }

  .left-border {
    padding: 0 2rem;
    position: relative;
    margin-left: 2rem;
    padding-left: 4rem;
  }
  .left-border:before {
    content: '';
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    height: 80%;
    background: black;
    position: absolute;
    width: 2px;
  }
  .left-border.black:before {
    background: white;
  }

  .header__contact {
    display: none;
  }

  .l-content__full {
    display: block;
    margin: 6rem 0 0;
    padding: 2rem 4rem;
    position: relative;
    border-top: 1px solid #c4c4c4;
  }

  .full-tab {
    padding: 1rem;
    border: 1px solid #c4c4c4;
    border-bottom: 0;
    color: black;
    position: absolute;
    top: -3.9rem;
    left: 4rem;
  }

  .js-arrow-indicator {
    display: none;
  }

  .experience-item {
    cursor: pointer;
  }

  .experience-item__extra-info {
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    overflow: hidden;
    opacity: 1;
    height: 200px;
  }

  .header__contact--items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    max-width: 180px;
    width: 60%;
    padding: 0.5rem 0.5rem;
  }
  .header__contact--items span {
    height: 51px;
    margin-bottom: 1rem;
  }
  .header__contact--items svg {
    width: 45px;
    height: auto;
    border: 3px solid black;
  }
}
